:root {
    --light-gray: #f1f4f5;
    --dark-gray: #7582A5;
    --black: #02020B;
    --red: #B50E0E;
    --gold: #F0CA00;
    background-color: var(--gold);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set minium width for desktop view */
@media screen and (min-width: 960px) {
    body {
        /* width: 960px;
        margin: auto; */
        color: black;
        background-color: var(--light-gray);
        border: var(--red);
        border-width: 1px;
        border-style: dashed;
    }

    /* Header region */
    .header-content {
        width: 100%;
        height: 200px;
        background-color: var(--red);
        border-style: none;
    }

    /* Solved nav alignment using https://www.w3schools.com/howto/howto_css_topnav_right.asp */

    nav {
        background-color: var(--red);
        overflow: hidden;
    }
    .name {
        margin: 10px 0 10px 0;
        padding: 0 10px;
        font-size: 3em;
        color: var(--red);
        background-color: var(--gold);
        float: left;
    }

    .subtitle {
        clear: both;
        float: right;
        padding: 0 10px;
        margin-bottom: -20px;
        font-size: 2em;
        color: var(--red);
        background-color: var(--gold);
    }

    .nav-links {
        font-size: 2em;
        color: var(--light-gray);
        list-style: none;
        float: right;

    }

    .nav-links li {
        display: inline-block;
        margin: 0 20px;
        padding: 5px 5px;
    }

    .nav-links a {
        text-decoration: none;
        text-underline-offset: 1rem;
        color: var(--gold);
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: var(--gold);
    }

    /*  Main content region */

    .main-content {
        margin: 40px;
        display:block; /* display:block plus overflow:auto makes sure that all the content is displayed */
        overflow: auto;
        }

    .about {
        float: right;
        width: 80%;
        margin-bottom: 30px;
        }
    
    #avatar {
        position: relative;
        margin-top: -20px;
        float: right;
    }

    .section-header {
        color: var(--red);
        padding-right: 20px;
        border-right: 3px solid var(--gold);
        line-height: 100%;
        width: 125px;
        height: 100px;
        text-align: right;
        float: left;
        clear: both;
    }

    .work {
        float: right;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 4 1 100%;
    }

    /* Based on Stack overflow solution https://stackoverflow.com/questions/26967890/css-set-background-image-by-data-image-attr */

    div[style^='background-image'] {
        display: flex;
        flex-direction: column;
        width: 22%;
        height: 225px;
        margin: 20px 10px 20px 0;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-image is not set here... */
    }
    
    #portfolio-item-1 {
        margin-bottom: 10px;
        width: 100%; /* assignment requirement for width of first item */
    }


    /* Style portfolio item name and hover */

    .portfolio-item-name {
        background-color: var(--gold);
        color: var(--red);
        width: fit-content;
        height: fit-content;
        position: relative;
        margin-bottom: 20px;
        padding: 10px;
    }

    .portfolio-item-name a {
        color: var(--red);
        text-decoration: none;
    }

    .portfolio-item-name a:hover {
        color: var(--black);
        text-decoration: none;
    }

    /* Tammi, fix the tools styling here at a later point */

    .portfolio-tools {
        display: none;
    }

    /* Style the contact links with hover color change and underlining */

    .contact {
        float: left;
    }

    .contact-links {
        font-size: 2em;
        color: var(--red);
        list-style: none;
    }

    .contact-links li {
        display: inline-block;
        margin: 0 20px;
        padding: 5px 5px;
    }
    .contact-links a {
        color: var(--red);
        text-decoration: none;
    }
    .contact-links a:hover {
        text-decoration: underline;
        text-decoration-color: var(--gold);
        text-underline-offset: 1rem;
    }

    .footer-content {
        text-align: center;
        width: 100%;
        height: 40px;
        padding: 10px 0;
        color: var(--gold);
        background-color: var(--red);
    }
}

/* Style for mobile phones and smaller devices */

@media screen and (max-width: 959px) {
    body {
        width: 98vw;
        margin: auto;
        color: black;
        background-color: var(--light-gray);
        border: var(--red);
        border-width: 1px;
        border-style: dashed;
    }

    .header-content {
        width: 100%;
        height: 100px;
        background-color: var(--red);
        border-style: none;
    }

    .name {
        margin: 5px 0 5px 0;
        padding: 0 5px;
        font-size: 1.5em;
        color: var(--red);
        background-color: var(--gold);
        float: left;
    }

    .subtitle {
        clear: both;
        float: right; 
        padding: 0 10px;
        margin-bottom: 40px;
        font-size: 1em;
        color: var(--red);
        background-color: var(--gold);
    }

    #avatar {
        position: relative;
        margin-top: -20px;
        float: right;
    }

    .nav-links {
        font-size: 1em;
        color: var(--light-gray);
        list-style: none;
        float: right;
        }

    .nav-links li {
        display: inline-block;
        margin: 0 5px;
        padding: 2px 2px;
    }

    .nav-links a {
        color: var(--gold);
        text-decoration: none;
    }
    
    .nav-links a:hover {
        text-decoration: underline;
        text-underline-offset: .5rem;
        text-decoration-color: var(--gold);
    }

    .section-header {
        color: var(--red);
        border-bottom: 3px solid var(--gold);
        line-height: 100%;
        width: 250px;
        height: 2rem;
    }

    .portfolio-item  {
        margin-bottom: 5px;
    }

    .portfolio-item-name {
        background-color: var(--gold);
        color: var(--red);
        width: fit-content;
        /* height: fit-content; */
        position: relative;
        padding: 5px;
    }

    .portfolio-item-name a {
        color: var(--red);
        text-decoration: none;
    }

    .portfolio-item-name a:hover {
        color: var(--black);
        text-decoration: none;
    }

    .portfolio-tools {
        display: none;
    }

    .contact-links {
        /* clear: right; /* correct issue whereby links moved on page*/
        /* float: inline-start; */
        text-align: left;
        font-size: 1em;
        color: var(--red);
        list-style: none;
    }

    .contact-links li {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 5px;
    }
    .contact-links a {
        color: var(--red);
        text-decoration: none;
    }

    .contact-links a:hover {
        text-decoration: underline;
        text-underline-offset: .5rem;
    }

    .footer-content {
        text-align: center;
        width: 100%;
        height: 40px;
        padding: 5px 0;
        color: var(--gold);
        background-color: var(--red);
    }
}